
.layout{

    display: grid;
    grid-template-areas: 
    "albumTitle albumTitle"
    "quote tableT"
    "bodyText tableT"
    "readBtn buyBtn";
    grid-column-gap: 60px;
}
@media(max-width: 920px){
    .layout{
        display:grid;
        grid-row-gap: 15px ;
        grid-template-areas: 
        "albumTitle"
        "quote"
        "bodyText"
        "readBtn"
        "tableT"
        "buyBtn"
        ;
        
    }
    
}

.Body {
    display: flex;
    text-align: start; 
    grid-area: bodyText;
    margin-top: 0;
    align-items: flex-start;
}
.quote{
    font-family: cursive;
    grid-area: quote;
    margin:0;
    font-size: 25px;
}
.title{
    grid-area: albumTitle;
    padding: 30px;
}
.readBtn{
    grid-area: readBtn;
}
.buyBtn{
    grid-area: buyBtn;
}
.table{
    grid-area: tableT;
}

button{
  color: black;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px grey;
  padding: 6px;

}
table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
tr, td, th{
    background-color:grey;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;   
    
}
th{
    font-weight:bold;
}
