
.navBar{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    min-height: 5vh;
    margin-top: 0;
    padding-top: 0;
    list-style-type: none;
    text-decoration: none;
    
    
  }

  a{
      text-decoration: none;
 }

  @media(max-width: 920px){
        
        .navBar{
          width: 100%;
          justify-content: space-evenly;
          
      }
  }
 